
  <div class="body">
    <div class="sectionA row">
      <div class="col">     
      <mdb-card>
          <div class="alert alert-primary" role="alert">
            <mdb-icon fas icon="info-circle"></mdb-icon> General
            </div>
          <mdb-card-body>
            <div *ngIf="success" class="alert alert-success" role="alert">
              {{success}}
            </div>
            <div *ngIf="error" class="alert alert-danger" role="alert">
             {{error}}
            </div>
          <form>
              
              <div class="form-row">
              
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Name</label>
                  <input [formControl]="CompanyName" mdbInput type="text" class="form-control" id="inputEmail4">
                  <mdb-error *ngIf="CompanyName.invalid && (CompanyName.dirty||CompanyName.touched)">
                    Invalid Input.
                  </mdb-error>
               
                </div>
                <div class="col-1">
                  <p>Logo</p>
                  <input (click)="onClick()" type="image" [src]="image" width=50px height=50px >
                  <!-- <input #file  (change)="onFileAdd(file.files)"  type="file"  name="image">
                     -->

                     <input type="file"  #fileUpload id="fileUpload" name="fileUpload"  accept="image/*" style="display:none;" />
                    
                    
                     <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                    </div>
              </div>
              <div class="form-row">
              
                <div class="form-group col-md-6">
                  <label  for="inputEmail4">Country</label>
                  <select  [formControl]="Country" class="browser-default custom-select">
                    <option selected disabled>Select Country</option>
                    <option *ngFor="let item of country" [ngValue]="country">{{item}}</option>
                  
                  </select>
              </div>
                </div>   
             <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="inputAddress">Contact Email</label>
                  <input [formControl]="CPEmail" mdbInput type="text" class="form-control" id="inputAddress">
                  <mdb-error *ngIf="CPEmail.invalid && (CPEmail.dirty||CPEmail.touched)">
                    Invalid Input.
                  </mdb-error>
                </div>
              <div class="form-group col-md-6">
                <label for="inputAddress">Contact Address </label>
                <input [formControl]="ContactAddress" mdbInput type="text" class="form-control" id="inputAddress">
                <mdb-error *ngIf="ContactAddress.invalid && (ContactAddress.dirty||ContactAddress.touched)">
                  Invalid Input.
                </mdb-error>
              </div>
            </div>
              
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputAddress">Contact Number</label>
                    <input [formControl]="CPTelephoneNo" mdbInput type="number" class="form-control" id="inputAddress">
                    <mdb-error *ngIf="CPTelephoneNo.invalid && (CPTelephoneNo.dirty||CPTelephoneNo.touched)">
                      Invalid Input.
                    </mdb-error>
                  </div>
                      <div class="form-group col-md-6">
                        <label for="inputAddress">Contact Person</label>
                        <input [formControl]="CPName" mdbInput type="text" class="form-control" id="inputAddress">
                        <mdb-error *ngIf="CPName.invalid && (CPName.dirty||CPName.touched)">
                          Invalid Input.
                        </mdb-error>
                      </div>
              </div>
          </form>
          </mdb-card-body>
      </mdb-card>
      </div>
    </div>
    <!-- <div class="sectionB row">
        <div class="col-12"> 
            <mdb-card>
                <div class="alert alert-danger" role="alert">
                    <mdb-icon fas icon="university"></mdb-icon> Company Relations
                </div>
                <mdb-card-body>
                <form>
                    
                    <div class="form-row">
                    
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Department</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
                        <mdb-select [options]="optionsSelect" placeholder="Select an option"></mdb-select>
                      </div>
                    
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Designation</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
                        <mdb-select [options]="optionsSelect" placeholder="Select an option"></mdb-select>
                      </div>
                    </div>
                    <div class="form-row">
                    
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Location</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
                          <mdb-select [options]="optionsSelect" placeholder="Select an option"></mdb-select>
                        </div>
                      
                        <div class="form-group col-md-6">
                          <div class="row">
                            <div class="col-7">
                                <label for="inputEmail4">Reports to</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
                                <mdb-select [options]="optionsSelect" placeholder="Select an option"></mdb-select>
                            </div>
                            <div class="col-5">
                                    <label for="inputCity">Is Manager</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
                                  <div class="switch">
                                      <label>
                                        No
                                        <input type="checkbox" (click)="switch()">
                                      <span class="lever"></span>Yes
                                      </label>
                                </div> 
                            </div>
                          </div>
                        </div>
                      </div>   
                </form>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div> -->
  </div>
  <div class='footer'>
      <div class="row">
          <div class="col-6">
            <div class="float">
              <button [disabled]='Company.invalid' (click)='createCompany()'  mdbBtn type="button" color="info" mdbWavesEffect>
                Create
              </button>
            </div>
            </div>
              <div class="col-6">
                
              </div>
      </div>
  </div>

