<div class="form-group">
      
    <button mdbBtn (click)="frame.show()" type="button" color="default" mdbWavesEffect>
      <mdb-icon fas icon="plus" class="mr-1"></mdb-icon>New
    </button>
  </div>
  <div class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>IncrementPromotion ID</th>
            <th>Employee</th>
            <th>Type</th>
            <th>Salary</th>
            <th>Description</th>
            <th>Creator</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let el of elements; let i = index">
            <td data-title="ID">{{el.IncrementPromotionID}}</td>
            <td data-title="Name">{{el.EmployeeID}}</td>
            <td data-title="Link">{{el.Type}}
            </td>
            <td data-title="Status">{{el.SalaryGroup}}</td>
            <td data-title="Status">{{el.Description}}</td>
            <td data-title="Status">{{el.PostedUser}}</td>
          </tr>
          <!-- <tr>
            <td data-title="ID">2</td>
            <td data-title="Name">Material Design Iconic Font</td>
            <td data-title="Link">
              <a href="https://codepen.io/zavoloklom/pen/uqCsB" target="_blank">Codepen</a>
              <a href="https://github.com/zavoloklom/material-design-iconic-font" target="_blank">GitHub</a>
            </td>
            <td data-title="Status">Completed</td>
          </tr> -->
         
        </tbody>
      </table>
      <div *ngIf="message" style="padding-left: 40%;"><p>{{messages}}</p></div>
      <div *ngIf="loading"  class="item"><ngx-skeleton-loader count="7" appearance="line "> </ngx-skeleton-loader></div>
        </div>

  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
 <div class="modal-content">
   <div class="modal-header light-blue darken-3 text-center text-white">
     
     <h4 class="modal-title w-100 font-weight-bold">Manage Increament</h4>
     <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body mx-3">
    <div *ngIf="success" class="alert alert-success" role="alert">
      {{success}}
    </div>
    <div *ngIf="error" class="alert alert-danger" role="alert">
     {{error}}
    </div>

    <div class="row">
        <div class="md-form col-md-12">
            <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
            <input [formControl]="Type" type="text" id="form34" class="form-control" mdbInput mdbValidate>
            <label for="form34">Type</label>
     
            <mdb-error *ngIf="Type.invalid && (Type.dirty||Type.touched)">
              Invalid Input.
            </mdb-error>
            
          </div>
          <div class="form-group col-md-6">
            <mdb-date-picker name="mydate" [formControl]="IncrementPromotionDate" [options]="myDatePickerOptions" [placeholder]="'Date '"
            required></mdb-date-picker>
        
          </div>
     
          <div class="form-group col-md-6">
             <label for="inputEmail4">Previous Positon</label>
             <input [formControl]="PreviousDsg" mdbInput type="text" class="form-control" id="inputEmail4">
             <mdb-error *ngIf="PreviousDsg.invalid && (PreviousDsg.dirty||PreviousDsg.touched)">
                 Invalid Input.
               </mdb-error>
         </div> 
      
           <div class="form-group col-md-4">
             <label for="inputEmail4">Current Position</label>
             <input [formControl]="CurrentDsg" mdbInput type="text" class="form-control" >
             <mdb-error *ngIf="CurrentDsg.invalid && (CurrentDsg.dirty||CurrentDsg.touched)">
                 Invalid Input.
               </mdb-error>
         </div> 
     
     
           <div class="form-group col-md-4">
             <label for="inputEmail4">Employee ID</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
             <select   [formControl]="EmployeeID" class="browser-default custom-select">
               
               <option *ngFor="let item of emp" [ngValue]="item.EmployeeID">{{item.EmployeeID}}</option>
             
             </select>
         </div>
        
         <div class="form-group col-md-4">
             <label for="inputPassword4">Salary Group</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
             <select  [formControl]="SalaryGroup" class="browser-default custom-select">
           
               <option *ngFor="let item of sg" [ngValue]="item.SalaryGroupID">{{item.SalaryGroupName}}</option>
             
             </select>
           </div>
 
           <div class="form-group col-md-12">
            <label for="inputPassword4">Description</label>
            <textarea  [formControl]="Description" type="text" id="form107" class="md-textarea form-control" rows="5" mdbInput></textarea>
             
            <mdb-error *ngIf="Description.invalid && (Description.dirty||Description.touched)">
              Invalid Value.
            </mdb-error>
         
          </div>
    </div>
    








    



   </div>
   <div class="modal-footer d-flex justify-content-right">
        <div class="btn-group" role="group" aria-label="Basic example">
                
                <button mdbBtn type="button" color="info" [disabled]='Increment.invalid' (click)="createIncrement()" class="waves-light mr-2" mdbWavesEffect>Create</button>
                <button mdbBtn type="button" color="danger"  (click)="frame.hide()" class="waves-light" mdbWavesEffect>Cancel</button>
            </div>
   </div>
 </div>
</div>
</div>

