<div class="container">
  <app-back></app-back>



  <app-loader *ngIf="loading">

  </app-loader>
  <div *ngIf="!loading">


    <form class="form p-3" novalidate [formGroup]="form" *ngIf="questions">
      <div class="form-row">
        <div *ngFor="let question of questions" class="col-lg-6 col-sm-12">

          <app-question [status]="true" [question]="question" [form]="form"></app-question>

        </div>
      </div>
      <div class="form-row mt-2 mb-5">
        <a (click)="timelinepage()" style="display: block; color: red;">View Loan Timeline</a>
      </div>

      <div class="form-row mt-2" >
        <div *ngIf="loading3" class="spinner-border" role="status">
          <span class="visually-hidden"></span>
        </div>

        <div *ngIf="!loading3" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

          <!-- <div class="btn-group mr-2" role="group" aria-label="Second group">

            <button (click)="updateLeaveStatus('Approved')" class="btn btn-success"
              type="submit">Approve</button>
          </div> -->
          <div class="btn-group" role="group" aria-label="Third group">
            <button  (click)="updateLeaveStatus('Rejected')" class="btn btn-danger"
            type="submit">Cancle Leave</button>
          </div>
      </div>

        <div class="col-8">

        </div>

      </div>

    </form>
    <app-errors [error]="error">

    </app-errors>

    <app-success [success]="success">

    </app-success>


    <!-- <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div> -->
  </div>
</div>

