
<div class="padding"  [formGroup]="Employee">
  <div class="header row">
    <div class="col-8"> 
      <button mdbBtn type="button" (click)="back()"color="success" mdbWavesEffect>
        <mdb-icon fas icon="arrow-left" class="mr-1"></mdb-icon>Back
      </button>
    </div>
</div>
<div  class="body">
  <div class="sectionA row m-5">
    <div class="col-12"> 
      <div class="alert alert-primary" role="alert">
        <mdb-icon fas icon="info-circle"></mdb-icon> Basic Info
        </div>  
    </div>

    <div *ngIf="success" class="alert alert-success col-12" role="alert">
          {{success}}
        </div>
        <div *ngIf="error" class="alert alert-danger col-12" role="alert">
         {{error}}
        </div> 
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name</label>
      <input formControlName="FirstName" mdbInput type="text" class="form-control" id="inputEmail4">
    </div> 
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name</label>
      <input formControlName="LastName" mdbInput type="text" class="form-control" id="inputPassword4">
    </div>

    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input formControlName="Email" mdbInput type="email" class="form-control" id="inputEmail4">
    </div>
  
    <div class="form-group col-md-6">
        <label for="inputEmail4">Gender</label>
        <mdb-select formControlName="Gender"  [options]="optionsSelect" placeholder="Choose your Gender"></mdb-select>
    </div>
    <div class="form-group col-md-6">
      <mdb-date-picker name="mydate" formControlName="DOB" [options]="myDatePickerOptions" [placeholder]="'Date of Birth'"
      required></mdb-date-picker>
  
    </div>
  


    <div class="form-group col-md-6">
      <label for="inputEmail4">Department</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>

      <select  formControlName="Department" class="browser-default custom-select">
       
        <option *ngFor="let item of department" [ngValue]="item.DepartmentID">{{item.DepartmentName}}</option>
      
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="inputPassword4">Salary Group</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
      <select  formControlName="SalaryGroup" class="browser-default custom-select">
    
        <option *ngFor="let item of salarygroup" [ngValue]="item.SalaryGroupID">{{item.SalaryGroupName}}</option>
      
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Location</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
    
<select  formControlName="Location" class="browser-default custom-select">

<option *ngFor="let item of location" [ngValue]="item.LocationsID">{{item.LocationsName}}</option>

</select>
   
    </div>

    <div class="form-group col-md-4">
      <label for="inputEmail4">Reports To</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
      <select  formControlName="ReportsTO" class="browser-default custom-select">
        
        <option *ngFor="let item of employee" [ngValue]="item.EmployeeID">{{item.EmployeeID}}</option>
      
      </select>
  </div>

  <div class="form-group col-md-4">
    <label for="inputEmail4">Designation</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
    <select  formControlName="Designation" class="browser-default custom-select">
      
      <option *ngFor="let item of designation" [ngValue]="item.DesignationID">{{item.DesignationName}}</option>
    
    </select>
</div>

<div class="form-group col-md-4">
  <label for="inputEmail4">Role</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
  <select  formControlName="Role" class="browser-default custom-select">
    
    <option *ngFor="let item of role" [ngValue]="item.RoleID">{{item.RoleName}}</option>
  
  </select>
</div>
  
    </div>
</div>

<div class='footer'>
  <div class="row">
      <div class="col-6">
        <div class="float">
          <button (click)="createEmployee()" mdbBtn type="button" color="info" mdbWavesEffect>
            Create
          </button>
        </div>
        </div>
          
  </div>
</div>

</div>





















