<!-- 
<div class="padding"  [formGroup]="Employee">
  <div class="header row">
    <div class="col-8"> 
      <button mdbBtn type="button" (click)="back()"color="success" mdbWavesEffect>
        <mdb-icon fas icon="arrow-left" class="mr-1"></mdb-icon>Back
      </button>
    </div>
</div>
<div  class="body">
  <div class="sectionA row m-5">
    <div class="col-12"> 
      <div class="alert alert-primary" role="alert">
        <mdb-icon fas icon="info-circle"></mdb-icon> Basic Info
        </div>  
    </div>

    <div *ngIf="success" class="alert alert-success col-12" role="alert">
          {{success}}
        </div>
        <div *ngIf="error" class="alert alert-danger col-12" role="alert">
         {{error}}
        </div> 
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name</label>
      <input formControlName="FirstName" mdbInput type="text" class="form-control" id="inputEmail4">
    </div> 
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name</label>
      <input formControlName="LastName" mdbInput type="text" class="form-control" id="inputPassword4">
    </div>

    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input formControlName="Email" mdbInput type="email" class="form-control" id="inputEmail4">
    </div>
  
    <div class="form-group col-md-6">
        <label for="inputEmail4">Gender</label>
        <mdb-select formControlName="Gender"  [options]="optionsSelect" placeholder="Choose your Gender"></mdb-select>
    </div>
    <div class="form-group col-md-6">
      <mdb-date-picker name="mydate" formControlName="DOB" [options]="myDatePickerOptions" [placeholder]="'Date of Birth'"
      required></mdb-date-picker>
  
    </div>
  


    <div class="form-group col-md-6">
      <label for="inputEmail4">Department</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>

      <select  formControlName="Department" class="browser-default custom-select">
       
        <option *ngFor="let item of department" [ngValue]="item.DepartmentID">{{item.DepartmentName}}</option>
      
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="inputPassword4">Salary Group</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
      <select  formControlName="SalaryGroup" class="browser-default custom-select">
    
        <option *ngFor="let item of salarygroup" [ngValue]="item.SalaryGroupID">{{item.SalaryGroupName}}</option>
      
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Location</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
    
<select  formControlName="Location" class="browser-default custom-select">

<option *ngFor="let item of location" [ngValue]="item.LocationsID">{{item.LocationsName}}</option>

</select>
   
    </div>

    <div class="form-group col-md-4">
      <label for="inputEmail4">Reports To</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
      <select  formControlName="ReportsTO" class="browser-default custom-select">
        
        <option *ngFor="let item of employee" [ngValue]="item.EmployeeID">{{item.EmployeeID}}</option>
      
      </select>
  </div>

  <div class="form-group col-md-4">
    <label for="inputEmail4">Designation</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
    <select  formControlName="Designation" class="browser-default custom-select">
      
      <option *ngFor="let item of designation" [ngValue]="item.DesignationID">{{item.DesignationName}}</option>
    
    </select>
</div>

<div class="form-group col-md-4">
  <label for="inputEmail4">Role</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
  <select  formControlName="Role" class="browser-default custom-select">
    
    <option *ngFor="let item of role" [ngValue]="item.RoleID">{{item.RoleName}}</option>
  
  </select>
</div>
  
    </div>
</div>

<div class='footer'>
  <div class="row">
      <div class="col-6">
        <div class="float">
          <button (click)="createLeave()" mdbBtn type="button" color="info" mdbWavesEffect>
            Create
          </button>
        </div>
        </div>
          
  </div>
</div>

</div>

 -->

 <div class="padding">
  <div class="header row">
    <div class="col-8"> 
      <button mdbBtn type="button" (click)="back()"color="success" mdbWavesEffect>
        <mdb-icon fas icon="arrow-left" class="mr-1"></mdb-icon>Back
      </button>
    </div>
</div>
     <form [formGroup]="Employee"> 
   <div class="body">
     <div class="sectionA row">
       <div class="col-8">    
       <mdb-card>
           <div class="alert alert-primary" role="alert">
             <mdb-icon fas icon="info-circle"></mdb-icon> Basic Info
             </div>
           <mdb-card-body>
            <div *ngIf="success" class="alert alert-success col-12" role="alert">
              {{success}}
            </div>
            <div *ngIf="error" class="alert alert-danger col-12" role="alert">
             {{error}}
            </div> 
               
               <div class="form-row">
               
                 <div class="form-group col-md-6">
                   <label for="inputEmail4">First Name</label>
                   <input mdbInput type="email" class="form-control" formControlName="FirstName" id="inputEmail4">
                 </div>
               
                 <div class="form-group col-md-6">
                   <label for="inputPassword4">Last Name</label>
                   <input mdbInput type="text" formControlName="LastName" class="form-control" id="inputPassword4">
                 </div>
               </div>
               <div class="form-row">
               
                   <div class="form-group col-md-6">
                     <label for="inputEmail4">Email</label>
                     <input mdbInput formControlName="Email" type="email" class="form-control" id="inputEmail4">
                   </div>
                 
                   <div class="form-group col-md-6">
                       <label for="inputEmail4">Gender</label>
                       <mdb-select formControlName="Gender"  [options]="optionsSelect" placeholder="Choose your Gender"></mdb-select>
                   </div>
                 </div>
                 <mdb-date-picker name="mydate" formControlName="DOB" [options]="myDatePickerOptions" [placeholder]="'Date of Birth'"
                 required></mdb-date-picker>
           </mdb-card-body>
       </mdb-card>
       </div>
       <div class="col-4">
           <mdb-card>
               <div class="alert alert-success" role="alert">
                   <mdb-icon far icon="grin"></mdb-icon> Photo
                 </div>
               <mdb-card-body>
                   <div class="col-1">
                   <input type="image" src="../../../assets/profile_image.jpg" width=190px height=190px >
                   <input type="file" name="image">
                     </div>
               </mdb-card-body>
           </mdb-card>
       </div>
     </div>
     <div class="sectionB row">
         <div class="col-12"> 
             <mdb-card>
                 <div class="alert alert-danger" role="alert">
                     <mdb-icon fas icon="university"></mdb-icon> Company Relations
                 </div>
                 <mdb-card-body>      
                     <div class="form-row">
                     
                       <div class="form-group col-md-6">
                         <label for="inputEmail4">Department</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
                         <select  formControlName="Department" class="browser-default custom-select">
       
                          <option *ngFor="let item of department" [ngValue]="item.DepartmentID">{{item.DepartmentName}}</option>
                        
                        </select>
                       </div>
                     
                       <div class="form-group col-md-6">
                        <div class="row">
                          <div class="col-7">
                         <label for="inputPassword4">Designation</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
                         <select  formControlName="Designation" class="browser-default custom-select">
      
                          <option *ngFor="let item of designation" [ngValue]="item.DesignationID">{{item.DesignationName}}</option>
                        
                        </select>
                          </div>
                          <div class="col-5">
                            <label for="inputPassword4">Salary Group</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
                            <select  formControlName="SalaryGroup" class="browser-default custom-select">
                          
                              <option *ngFor="let item of salarygroup" [ngValue]="item.SalaryGroupID">{{item.SalaryGroupName}}</option>
                            
                            </select>
                              </div> 
                          </div>
                        </div>
                       </div>
                     <div class="form-row">
                     
                         <div class="form-group col-md-6">
                           <label for="inputEmail4">Location</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
                           <select  formControlName="Location" class="browser-default custom-select">

                            <option *ngFor="let item of location" [ngValue]="item.LocationsID">{{item.LocationsName}}</option>
                            
                            </select>
                         </div>
                       
                         <div class="form-group col-md-6">
                           <div class="row">
                             <div class="col-7">
                                 <label for="inputEmail4">Reports to</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
                                 <select  formControlName="ReportsTO" class="browser-default custom-select">
        
                                  <option *ngFor="let item of employee" [ngValue]="item.EmployeeID">{{item.EmployeeID}}</option>
                                
                                </select>
                             </div>
                             <div class="col-5">
                              <label for="inputEmail4">Role</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
                              <select  formControlName="Role" class="browser-default custom-select">
                                
                                <option *ngFor="let item of role" [ngValue]="item.RoleID">{{item.RoleName}}</option>
                              
                              </select>
                                 </div> 
                             </div>
                           </div>
                         </div>  
                 </mdb-card-body>
             </mdb-card>
         </div>
     </div>
   </div>
     </form>
     <div class='footer'>
      <div class="row">
          <div class="col-6">
            <div class="float">
              <button mdbBtn type="button" (click)="createEmployee()" color="info" mdbWavesEffect>
                Create
              </button>
            </div>
            </div>
              <div class="col-6">
              <button mdbBtn type="button" color="danger" mdbWavesEffect>
                Cancel
              </button>       
              </div>
      </div>
  </div>

 </div>
 