<div class="form-group">
    <button (click)="CreatePayslip()" mdbBtn type="button" color="success" mdbWavesEffect>
        <mdb-icon fab icon="google-play" class="space"></mdb-icon>Make Slip
    </button>
    <!-- <button mdbBtn type="button" (click)="newemployee()" color="default" mdbWavesEffect>
            <mdb-icon fas icon="plus" class="mr-1"></mdb-icon>New
          </button> -->

          <div *ngIf="success" class="alert alert-success col-12" role="alert">
            {{success}}
          </div>
          <div *ngIf="error" class="alert alert-danger col-12" role="alert">
           {{error}}
          </div> 
</div>


<div class="body  mr-4">
    <div class="row" [formGroup]="payrollGenarte">
        <div class="col">
            <table id="tableSortExample" mdbTable class="z-depth-1" >
                <thead class="black white-text">
                    <tr>
                        <th aria-controls="tableSortExample" scope="col">EmployeeID<mdb-icon fas icon="sort">
                            </mdb-icon>
                        </th>
                        <th> Employee Name</th>
                      
                        <th style="text-align: right;">Grade</th>
                        <th style="text-align: right;">NetSalary</th>
                
                        <th style="text-align: right;">TotalAmountDue</th>

               


                    </tr>
                </thead>
                <tbody formArrayName="Item" *ngFor="let item of payrollGenarte.get('Item').controls; let i = index;">
                    <tr [formGroupName]="i">
                        <td>{{item.value.EmployeeID}}</td>
                        <td  style="text-align: left;">{{item.value.FirstName }} {{item.value.LastName}}</td>
                    
                        <td (click)="changeAttendance(i)" >
                            <p style="text-align: right;">{{item.value.Attendance}}</p>
                        </td>
                        <td style="text-align: right;">{{item.value.NetSalary  | currency:'₦':'symbol'}}</td>
                       
                        <td style="text-align: right;">{{item.value.TotalAmountDue  | currency:'₦':'symbol'}}</td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>