<app-errors  [error]="errors">

</app-errors>
<app-success [success]="success">

</app-success>
 <form class="form p-3 mt-3" [formGroup]="Leave">
  <div class="form-row m-4">
    <div class="col-lg-12 col-sm-12">

      <p *ngIf="availabledays" >Availaible days:{{availabledays}}</p>

      <div class="form-group">
        <label>Leave Type* <span  class="ml-2" *ngIf="error">
         {{error}}
        </span><a  *ngIf="error" style="color: red;" (click)="read('leavetype')">Retry</a></label>
            <select (change)="ChangingValue($event)" formControlName="LeaveType"  [ngClass]="{ 'is-invalid': submitted && T.LeaveType.errors }"
              class="browser-default custom-select mb-1">
              <option disabled value="" selected>Select  Type</option>
              <option [value]="item.LeaveTypeID"*ngFor="let item of baseItems; let i = index" value="">
                {{ item.LeaveTypeName }}
              </option>
            </select>
            <div *ngIf="submitted && T.LeaveType.errors" class="invalid-feedback mb-1">
              <div *ngIf="T.LeaveType.errors.required">
                Please provide a Leave Type.
              </div>
            </div>
      </div>


      </div>

      <div class="col-lg-6 col-sm-12">

        <label>Start Date*</label>
        <input type="date" [min]="presentdate" formControlName="StartDate" id="start" class="form-control" name="trip-start"
          value="StartDate" [ngClass]="{ 'is-invalid': submitted && T.StartDate.errors }" />
        <div *ngIf="submitted && T.StartDate.errors" class="invalid-feedback mb-1">
          <div *ngIf="T.StartDate.errors.required">
            Please provide StartDate .
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">

        <label>End Date*</label>
        <input type="date" [min]="presentdate" formControlName="EndDate" id="start" class="form-control" name="trip-start"
          value="EndDate" [ngClass]="{ 'is-invalid': submitted && T.EndDate.errors }" />
        <div *ngIf="submitted && T.EndDate.errors" class="invalid-feedback mb-1">
          <div *ngIf="T.EndDate.errors.required">
            Please provide EndDate .
          </div>
        </div>
      </div>


        <div class="col-lg-12 col-sm-12 mb-4">
          <label>Reasons</label>
          <textarea [ngClass]="{ 'is-invalid': submitted && T.Reason.errors }" class="form-control example-full-width  rounded-0" id="exampleFormControlTextarea2" formControlName="Reason"  placeholder="Type Comment" ></textarea>
          <div *ngIf="submitted && T.Reason.errors" class="invalid-feedback mb-1">
            <div *ngIf="T.Reason.errors.required">
              Please provide Reason .
            </div>
          </div>
        </div>

        <div class="col-lg-12 mt-5">
          <button type="button" class="btn btn-success" (click)="validate()">
            <div *ngIf="loadings" class="spinner-border" role="status">
              <span class="visually-hidden"></span>
            </div>
            <span *ngIf="!loadings">Request Leave</span>


          </button>

        </div>



      </div>
</form>
