.load{
  height: 40px;
  width: 100%;
  animation: loading 1.1s infinite linear;
  background: #dedfe1;
  background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-repeat: no-repeat;
}
