<div class="container-fluid text-center padding">

    <div class="row mb-5">

                      <div class="col-lg-4 col-md-12">
                        <!--Card-->
                        <mdb-card cascade="true" >
                      

                            <!--Card content-->
                            <div class="view  gradient-card-header light-blue">
                              <h4 class="card-header-title text-left font-weight-bold white-text m-3">Total Employees</h4>
                             
                    
                            <h4 class="text-left font-weight-bold white-text m-3">{{Totalemployee}}</h4>
                            </div>
                           <!-- Nav tabs -->
    
                          <!--/.Card content-->
                      
                        </mdb-card>
                        <!--/.Card-->
                      </div>
                  
      <div class="col-lg-4 col-md-12">
        <!--Card-->
        <mdb-card cascade="true" >
      

            <!--Card content-->
            <div class="view  gradient-card-header light-green">
              <h4 class="card-header-title text-left font-weight-bold white-text m-3">Active Employees </h4>
             
    
            <h4 class="text-left font-weight-bold white-text m-3">{{Totalemployee}}</h4>
            </div>
           <!-- Nav tabs -->

          <!--/.Card content-->
      
        </mdb-card>
        <!--/.Card-->
      </div>
                      <div class="col-lg-4 col-md-12">
                        <!--Card-->
                        <mdb-card cascade="true" >
                      

                            <!--Card content-->
                            <div class="view  gradient-card-header pink">
                              <h4 class="card-header-title text-left font-weight-bold white-text m-3">Assets</h4>
                             
                    
                            <h4 class="text-left font-weight-bold white-text m-3">{{Totalasset}}</h4>
                            </div>
                           <!-- Nav tabs -->
    
                          <!--/.Card content-->
                      
                        </mdb-card>
                        <!--/.Card-->
                      </div>

    </div>

      </div>
      <!--Grid row-->
      <div class="container-fluid text-center padding">

        <div class="row mb-5">
                <div class="col-lg-6 col-md-12">
                        <!--Card-->
                        <mdb-card cascade="true" >
                      
                          <div class="view  gradient-card-header purple-gradient">
                            <h4 class="card-header-title font-weight-bold text-left white-text m-3">Pending Approvals</h4>
                           
                           
                          </div>
                      
                          <mdb-card-body cascade="true" class="text-center">
                          </mdb-card-body>
                          <!--/.Card content-->
                      
                        </mdb-card>
                        <!--/.Card-->
                      </div>
                      
                      <div class="col-lg-6 col-md-12">
                            <!--Card-->
                            <mdb-card cascade="true" >
                          
                              <div class="view  gradient-card-header purple-gradient">
                                <h4 class="card-header-title text-left font-weight-bold white-text m-3"> Today's Attendance</h4>
                               
                               
                              </div>
                          
                              <mdb-card-body cascade="true" class="text-center">
                                <!--Card content-->
                          
                               <!-- Nav tabs -->
        
                              </mdb-card-body>
                              <!--/.Card content-->
                          
                            </mdb-card>
                            <!--/.Card-->
                          </div>
                      
            
    
        </div>
    
          </div>
<!--Grid row-->