header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

main{
  margin-left: 25px!important;
}

mdb-accordion-item-head.actives{
  background-color: orange!important;
  color: orange;
}
mdb-accordion-item-head:hover{
  background-color: orange!important;
  color: orange;
}
mdb-accordion-item-head:hover{
  background-color: orange!important;
  color: orange;
}