
  <body class="black-skin">

    <!--Double navigation-->
    <header>

<!-- Sidebar navigation -->
<mdb-side-nav #sidenav class="wide sn-bg-1 fixed" [fixed]="true">
  <!-- Logo -->
  <li>
    <div class="logo-wrapper waves-light">
      <a href="#"><img src="https://pagefinancials.com/static/img/logo.png" class="img-fluid flex-center"></a>
    </div>
  </li>
  <!--/. Logo -->
  <!--Social-->
  <li>
   
  </li>
  <!--/Social-->
  <!--Search Form-->
  <li>
    <form class="search-form" role="search">
      <div class="form-group md-form waves-light" mdbWavesEffect>
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
  </li>
  <!--/.Search Form-->
  <!-- Side navigation links -->
  <li>
    <ul class="collapsible collapsible-accordion">
      <mdb-accordion [multiple]="false" aria-multiselectable="false">

            <mdb-accordion-item class="no-collase">
                    <mdb-accordion-item-head routerLink="dashboard" routerLinkActive="active" mdbWavesEffect><i class="fas fa-home"></i>Dashboard
                    </mdb-accordion-item-head>
                    <mdb-accordion-item-body></mdb-accordion-item-body>
                  </mdb-accordion-item>
                  <mdb-accordion-item class="no-collase">
                        <mdb-accordion-item-head routerLink="employee" routerLinkActive="active" mdbWavesEffect><mdb-icon fas icon="user-alt"></mdb-icon>Employee
                        </mdb-accordion-item-head>
                        <mdb-accordion-item-body></mdb-accordion-item-body>
                      </mdb-accordion-item>
                      <mdb-accordion-item class="no-collase">
                        <mdb-accordion-item-head routerLink="assets" routerLinkActive="active" mdbWavesEffect><mdb-icon fas icon="box-open"></mdb-icon>Assets
                        </mdb-accordion-item-head>
                        <mdb-accordion-item-body></mdb-accordion-item-body>
                      </mdb-accordion-item>

        <!-- Collapsible link settings -->
        <mdb-accordion-item>
          <mdb-accordion-item-head mdbWavesEffect><mdb-icon fas icon="money-bill"></mdb-icon> Payroll
          </mdb-accordion-item-head>
          <mdb-accordion-item-body>
            <ul>
              <li><a routerLink="basic-salary" routerLinkActive="active" 
                     mdbWavesEffect>Basic Salary</a></li>
              <li><a routerLink="payroll" routerLinkActive="active" 
                     mdbWavesEffect>Manage</a></li>
                     <li><a routerLink="payroll-reports" routerLinkActive="active" 
                        mdbWavesEffect>Report</a></li>
            </ul>
          </mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item class="no-collase">
            <mdb-accordion-item-head routerLink="settings/company" routerLinkActive="active" mdbWavesEffect><mdb-icon fas icon="cog"></mdb-icon>Settings
            </mdb-accordion-item-head>
            <mdb-accordion-item-body></mdb-accordion-item-body>
          </mdb-accordion-item>

      </mdb-accordion>
    </ul>
  </li>
  <!--/. Side navigation links -->
  <div class="sidenav-bg mask-strong"></div>
</mdb-side-nav>
<!--/. Sidebar navigation -->
      <!--/. Sidebar navigation -->
      <!-- Navbar -->
     <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark  lighten-1" [containerInside]="false">

    <div class="">
    
      </div>
    <mdb-navbar-brand class="float-right">
          
        <a class="navbar-brand" href="#">PagePayRoll</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
     
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons float-right">
        <li class="nav-item">
          <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
        </li>
        <li class="nav-item avatar dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0"></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
      <!-- /.Navbar -->
    </header>
    <!--/.Double navigation-->

    <!--Main layout-->
    <main>

            <router-outlet></router-outlet>

    </main>
    <!--/Main layout-->

   

  </body>