
 <div class="form-group">
      
        <button mdbBtn (click)="frame.show()" type="button" color="default" mdbWavesEffect>
          <mdb-icon fas icon="plus" class="mr-1"></mdb-icon>New
        </button>
      </div>
      <table mdbTable small="true">
            <thead>
              <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let el of elements">
                <th scope="row">{{el.name}}</th>
                <td>{{el.Address}}</td>
            
              
              </tr>
            </tbody>
          </table>
      <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header black darken-3 text-center text-white">
         <h4 class="modal-title w-100 font-weight-bold">Manage Designations</h4>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body mx-3">
        <div *ngIf="success" class="alert alert-success" role="alert">
          {{success}}
        </div>
        <div *ngIf="error" class="alert alert-danger" role="alert">
         {{error}}
        </div>
         <div class="md-form mb-5">
           <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
           <input [formControl]="DesignationName" type="text" id="form34" class="form-control" mdbInput mdbValidate>
           <label for="form34"> Designation Name </label>
           <mdb-error *ngIf="DesignationName.invalid && (DesignationName.dirty||DesignationName.touched)">
            Invalid Value.
          </mdb-error>
         </div>
       
        
 
 
 
       </div>
       <div class="modal-footer d-flex justify-content-right">
            <div class="btn-group" role="group" aria-label="Basic example">
                    
                    <button mdbBtn [disabled]='Designation.invalid' (click)="createDesignation()"  type="button" color="info" class="waves-light mr-2" mdbWavesEffect>Create</button>
                    <button mdbBtn type="button" color="danger"  (click)="frame.hide()" class="waves-light" mdbWavesEffect>Cancel</button>
                </div>
       </div>
     </div>
   </div>
 </div>
 