<div id="demo">
  <div>
    <div class="header">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <button mdbBtn type="button" color="success" mdbWavesEffect>
              <mdb-icon fas icon="envelope" class="mr-1"></mdb-icon>Invite
            </button>
            <button mdbBtn type="button" (click)="frame.show()" color="default" mdbWavesEffect>
              <mdb-icon fas icon="plus" class="mr-1"></mdb-icon>New
            </button>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="row float-right">
            <div class="col-sm-6">
              <div class="md-form">
                <input mdbInput class="mr-1 search-input" type="text" placeholder="Search" aria-label="Search" id="search"
                  [(ngModel)]="searchText">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="dropdown" mdbDropdown>
  
                <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button"
                  mdbWavesEffect>
                  Status
                </button>
  
                <div class="dropdown-menu dropdown-primary">
                  <button class="dropdown-item" href="#">All</button>
                  <button class="dropdown-item" href="#">Active</button>
                  <button class="dropdown-item" href="#">Inactive</button>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="row">
        <div class="col">
          <table id="tableSortExample" mdbTable class="z-depth-1 auto">
            <thead class="black white-text">
              <tr>
                <th aria-controls="tableSortExample" scope="col" [mdbTableSort]="elements" [sortBy]="headElements[0]">
                  {{headElements[0] | titlecase}}<mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th>{{headElements[1]}}</th>
                <th>{{headElements[2]}}</th>
                <th>{{headElements[3]}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let el of elements; let i = index">
                <th scope="row" (click)="SalaryCom(el)" (click)="basicModal.show()">{{el.SalaryGroupID}}</th>
                <td (click)="SalaryCom(el)">{{el.SalaryGroupName}}</td>
                <td>{{el.LeaveDays}}</td>
                <td>{{el.NetPay}}</td>
  
              </tr>
            </tbody>
          </table>
          <div *ngIf="message" style="padding-left: 40%;">
            <p>{{messages}}</p>
          </div>
          <div *ngIf="loading" class="item">
            <ngx-skeleton-loader count="7" appearance="line "> </ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Salary group information</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <table id="tableSortExample" mdbTable class="z-depth-1 auto">
            <thead class="black white-text">
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let el of group; let i = index">
                <th scope="row">{{el.Name}}</th>
                <td >{{el.Type}}</td>
                <td>{{el.Amount}}</td>
  
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document" [formGroup]="Salary">
    <div class="modal-content">
      <div class="modal-header black darken-3 text-center text-white">
        <h4 class="modal-title w-100 font-weight-bold">Manage Salary</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div *ngIf="success" class="alert alert-success" role="alert">
          {{success}}
        </div>
        <div *ngIf="error" class="alert alert-danger" role="alert">
          {{error}}
        </div>

        <div>
          <div class="header row">
          </div>
          <div class="body">
            <div class="sectionA row">
              <div class="col">
                <mdb-card>

                  <mdb-card-body>
                    <form>

                      <div class="form-row">

                        <div class="form-group col-md-12">
                          <label for="inputEmail4">Group Name</label>
                          <input [formControl]="SalaryGroupName" mdbInput type="text" class="form-control"
                            id="inputEmail4">

                          <mdb-error
                            *ngIf="SalaryGroupName.invalid && (SalaryGroupName.dirty||SalaryGroupName.touched)">
                            Invalid Value.
                          </mdb-error>
                        </div>

                        <div class="form-group col-md-12">
                          <label for="inputPassword4">Level Days</label>
                          <input [formControl]="LeaveDays" mdbInput type="number" class="form-control" id="inputEmail4">


                          <mdb-error *ngIf="LeaveDays.invalid && (LeaveDays.dirty||LeaveDays.touched)">
                            Invalid Value.
                          </mdb-error>

                        </div>
                      </div>





                    </form>
                  </mdb-card-body>
                </mdb-card>
              </div>

            </div>
            <div class="sectionB row">
              <div class="col-12">
                <mdb-card>
                  <mdb-card-body>
                    <table mdbTable>
                      <caption>
                        <button (click)="addItem()" class="float-right" type="button" color="success">
                          Add new
                        </button>
                      </caption>
                      <thead>
                        <tr>
                          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                        </tr>
                      </thead>
                      <tbody formArrayName="SalaryComponent">
                        <tr mdbTableCol *ngFor="let item of Salary.get('SalaryComponent')['controls']; let i = index;"
                          [formGroupName]="i">
                          <th> <input formControlName="Name" nbInput name="quantity" type="text" class=""></th>
                          <th> <input formControlName="Amount" nbInput name="quantity" type="number" class=""></th>
                          <th> <input formControlName="Description" nbInput name="quantity" type="text" class=""></th>
                          <th>

                            <select formControlName="Type" class="">

                              <option *ngFor="let item of type" [ngValue]="item">{{item}}</option>

                            </select>


                          <th>
                            <mdb-icon (click)="removeItems(i)" fas icon="trash" class="mr-1"></mdb-icon>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <form>
                    </form>
                  </mdb-card-body>
                </mdb-card>
              </div>


            </div>
          </div>
          <div class='footer mt-1'>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button mdbBtn type="button" (click)="createSalar()" color="primary" class="waves-light mr-1"
                mdbWavesEffect>Create</button>
              <button mdbBtn type="button" (click)="frame.hide()" color="danger" class="waves-light"
                mdbWavesEffect>Cancel</button>

            </div>
          </div>
        </div>






      </div>

    </div>
  </div>
</div>