
<div class="padding">

  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="My Leave">
      <ng-template ngbTabContent>
        <app-leave-tab></app-leave-tab>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Quest Leave</ng-template>
      <ng-template ngbTabContent>
        <app-create-leave-tab></app-create-leave-tab>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Approval"  [disabled]="false">
      <ng-template ngbTabContent>
      <app-leave-approval-tab>

      </app-leave-approval-tab>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>


</div>

