<div>
        <div class="header row mt-3">
            <div class="col-8"> 
              <button mdbBtn type="button" (click)="back()"color="success" mdbWavesEffect>
                <mdb-icon fas icon="arrow-left" class="mr-1"></mdb-icon>Back
              </button>
            </div>
        </div>
        <div class="body">
          <div class="sectionA row">
            <div class="col">     
            <mdb-card>
                <div class="alert alert-success" role="alert">
                  <mdb-icon fas icon="info-circle"></mdb-icon>  Role Details
                  </div>
                <mdb-card-body>
                <form>
                    
                    <div class="form-row">
                    
                      <div class="form-group col-md-12">
                        <label for="inputEmail4">Name</label>
                        <input mdbInput type="text" class="form-control" id="inputEmail4">
                      </div>
                    
                      <div class="form-group col-md-12">
                        <label for="inputPassword4">Description</label>
                        <textarea type="text" id="form107" class="md-textarea form-control" rows="5" mdbInput></textarea>
                      </div>
                    </div>
                   
                  
                    
                   
                
                </form>
                </mdb-card-body>
            </mdb-card>
            </div>
           
          </div>
          <div class="sectionB row">
              
    
              <div class="col-12"> 
                    <mdb-card>
                        <div class="alert alert-danger" role="alert">
                          <mdb-icon fas icon="dollar-sign"></mdb-icon>Permissions
                        </div>
                        <mdb-card-body> 
                            
                             
                        </mdb-card-body>
                    </mdb-card>
                </div>
          </div>
        </div>
        <div class='footer mt-3'>
                <div class="btn-group" role="group" aria-label="Basic example">
                        <button mdbBtn type="button" color="primary" class="waves-light mr-1" mdbWavesEffect>Create</button>
                        <button mdbBtn type="button" color="danger" class="waves-light" mdbWavesEffect>Cancel</button>
                        
                    </div>
        </div>
    </div>
