<button (click)="readonEmp('leave')"  type="button" class="float-right reduce btn btn-warning"><mdb-icon fas icon="redo"></mdb-icon> </button>



<eni-table *ngIf="baseItems" [records]="baseItems" [caption]="'My Leave'" [settings]="projectSettings"
  [routePage]="routePage" [searchText]="searchText" [loading]="loading"
  [api]="apis"
  >


</eni-table>



<div class="container">
  <div *ngIf="error" class=" container alert alert-danger text-center" role="alert">
    {{error}} <a (click)="readonEmp('leave')" class="alert-link">Click to retry</a>
  </div>
</div>
