<div> 
  <button mdbBtn type="button" (click)="back()" color="success" mdbWavesEffect>
    <mdb-icon fas icon="angle-double-left"></mdb-icon>Back
 </button>
</div>
<div class="payslip" >
  <div style="margin-bottom: -250px;"> 
      <button mdbBtn type="button" (click)="captureScreen() " color="primary" mdbWavesEffect>
      <mdb-icon fas icon="plus" class="mr-1"></mdb-icon>Open PDF
     </button>
  </div>
<div id="contentToConvert" style="padding-top: 300px;"> 
  <section id="invoice" class="py-5">
    <div class="container">
      <div class="card">
        <div class="card-header bg-primary text-white border-0">
          Date <strong>{{element.Month | date}}</strong> <span class="float-right"> <strong>Status:</strong>{{element.Status}}</span>
        </div>
        <div class="card-body">
          <div class="header" style="text-align: center; padding: 20px;">
            <h3>Pay slip for the period of {{element.Month | date:'MMMM y'}}</h3>
          </div>
          <div class="row mb-4"style="font-size:20px;">
            <div class="col-sm-6">
              <div>
                <strong style="font-weight: bold;">{{element.FirstName}} {{element.LastName}}</strong>
              </div>
              <div>Department: {{element.DepartmentName}}</div>
              <div>Designation: {{element.DesignationName}}</div>
              <div>PAN Number:{{element.PANNumber}}</div>
            <div>Email: <a href="mailto:LoremIpsum@gmail.com">{{element.Email}}</a></div>
            </div>
  
            <div class="col-sm-6">
              <div>
                <strong>Payslip: {{element.SalarySlipID}}</strong>
              </div>
              <div>Joining Date: {{element.JoiningDate}}</div>
              <div>Attendance:{{element.Attendance}}</div>
              <div>PayDate: <a href="mailto:LoremIpsum@gmail.com">{{element.PaymentDate | date}}</a></div>
              <div>Branch: {{element.LocationsName}}</div>
            </div>
          </div>
          <!-- <div class="table-responsive-sm">
            <table class="table table-striped">
              <thead class="bg-blue-200 text-white">
                <tr>
                  <th>Invoice Id</th>
                  <th>Invoice Date</th>
                  <th class="right">Due Date</th>
                  <th class="center">Due Amount </th>
                  <th class="right">Delay Penalty </th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let slip of Salaryslipcredit;let i = index">
                <td class="left strong"  style="font-size:20px;">{{element.SalarySlipID}}</td>
                  <td class="left" style="font-size:20px;">{{element.Month}}</td>
                  <td class="right" style="font-size:20px;">{{element.PaymentDate}}</td>
                  <td class="center" style="font-size:20px;">{{slip.Name}}</td>
                  <td class="right" style="font-size:20px; padding-left: 0px; color: green;">{{slip.Amount  | currency:'₦':'symbol'}}</td>
                </tr>
                <tr  *ngFor="let slip of Salaryslipdebit;let i = index">
                <td class="left strong" style="font-size:20px;">{{element.SalarySlipID}}</td>
                  <td class="left" style="font-size:20px;">{{element.Month}}</td>
                  <td class="right" style="font-size:20px;">{{element.PaymentDate}}</td>
                  <td class="center" style="font-size:20px;">{{slip.Name}}</td>
                  <td class="right" style="font-size:20px; padding-left: 0px; color: red;">{{slip.Amount  | currency:'₦':'symbol'}}</td>
                </tr>
              </tbody>
            </table>
          </div> -->
          <!-- <div class="row">
            <div class="col-lg-6 col-sm-6 ml-auto">
              <table class="table table-clear">
                <tbody>
                  <tr>
                    <td class="left" style="font-size:20px;">
                      <strong>Total Earnings</strong>
                    </td>
                  <td class="right" style="font-size:20px;">{{TotalEarnings  | currency:'₦':'symbol'}}</td>
                  </tr>
                  <tr>
                    <td class="left" style="font-size:20px;">
                      <strong>Total Deductions</strong>
                    </td>
                  <td class="right" style="font-size:20px;  color: red;">{{TotalDeductions  | currency:'₦':'symbol'}}</td>
                  </tr>
                  <tr>
                    <td class="left" style="font-size:20px;">
                      <strong>Net Salary</strong>
                    </td>
                    <td class="right text-success" style="font-size:20px;">
                    <strong>{{element.NetSalary  | currency:'₦':'symbol'}}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
  
            </div>
  
          </div> -->
          <div class="fhsco-table">
            <table border="1" style="border-collapse:collapse;width:100%;margin-left:0%">
              <tbody>
                  <tr style="background:#a1a0a0" *ngIf="earnings">
                      <th style="text-align:center">#</th>
                      <th style="font-size:20px;">Earnings </th>
                      <th style="font-size:20px; text-align:right">Amount</th>
                  </tr>
                  <tr  *ngFor="let slip of Salaryslipcredit;let i = index ">
                      <td style="width:4%;text-align:center">{{ i + 1}}</td>
                      <td style="font-weight:bolder;width:48%; font-size:20px;">{{slip.Name}}</td>
                      <td style="width:48%;text-align:right; font-size:20px; " >{{slip.Amount  | currency:'₦':'symbol'}}</td>
                  </tr>
                  <!-- <tr>
                    <td style="width:4%;text-align:center">1</td>
                    <td style="font-weight:bolder;width:48%">Total Earnings</td>
                    <td style="width:48%;text-align:right">{{TotalEarnings  | currency:'₦':'symbol'}}</td>
                </tr> -->
                  <!-- <tr>
                      <td style="width:4%;text-align:center">2</td>
                      <td style="font-weight:bolder;width:48%"> Nghỉ Phép/ Lễ/ Days off</td>
                      <td style="width:48%;text-align:right"></td>
                  </tr>
                  <tr>
                      <td style="width:4%;text-align:center">3</td>
                      <td style="font-weight:bolder;width:48%">Mức lương + PC hiện hưởng đóng BHXH/ Salary at Insurrance</td>
                      <td style="width:48%;text-align:right">3,880,000.00</td>
                  </tr>
                  <tr>
                      <td style="width:4%;text-align:center">4</td>
                      <td style="font-weight:bolder;width:48%">Mức lương theo ngày công/ Salary up to working days</td>
                      <td style="width:48%;text-align:right">3,880,000.00</td>
                  </tr>
                  <tr>
                      <td style="width:4%;text-align:center">5</td>
                      <td style="font-weight:bolder;width:48%">Phụ cấp theo hiệu quả, kết quả CV (năng suất)/ Amount of Allowance</td>
                      <td style="width:48%;text-align:right">2,050,000.00</td>
                  </tr>
                  <tr style="font-weight:bolder;background-color:#f2f2f2">
                      <td style="width:4%;text-align:center">6</td>
                      <td style="font-weight:bolder;width:48%">Thu nhập tháng (lương + PCCV + PC theo hiệu quả CV)/ Total salary</td>
                      <td style="width:48%;text-align:right">2,900,000.00</td>
                  </tr>
                  <tr>
                      <td style="width:4%;text-align:center">7</td>
                      <td style="font-weight:bolder;width:48%">Hệ số PC theo hiệu quả CV (K năng suất)/ Posion cofficient</td>
                      <td style="width:48%;text-align:right">2.35</td>
                  </tr>
                  <tr>
                      <td style="width:4%;text-align:center">8</td>
                      <td style="font-weight:bolder;width:48%">Tỷ lệ hoàn thành công việc/ Work completion rate</td>
                      <td style="width:48%;text-align:right">100%</td>
                  </tr>
                  <tr>
                      <td style="width:4%;text-align:center">9</td>
                      <td style="font-weight:bolder;width:48%"> Tiền cơm/ Money for meal </td>
                      <td style="width:48%;text-align:right">680,000.00</td>
                  </tr>
                  <tr>
                      <td style="width:4%;text-align:center">10</td>
                      <td style="font-weight:bolder;width:48%">Tổng thu nhập tính thuế / Taxable personal Income </td>
                      <td style="width:48%;text-align:right">118,000.00</td>
                  </tr>
                  <tr>
                      <td style="width:4%;text-align:center">11</td>
                      <td style="font-weight:bolder;width:48%">Số người giảm trừ/ Depedent person </td>
                      <td style="width:48%;text-align:right">0.00</td>
                  </tr> -->
                  <tr style="font-weight:bolder;background-color:#aaa9a9" *ngIf="deductions">
                      <td style="font-weight:bold;text-align:center">*</td>
                      <td style="font-size:20px;">Deductions</td>
                      <td style="font-size:20px; text-align:right">Amount</td>
                  </tr>
                  <tr *ngFor="let slip of Salaryslipdebit;let i = index">
                  <td style="width:4%;text-align:center">{{i}}</td>
                      <td style="font-weight:bolder;width:48%; font-size:20px;">{{slip.Name}}
                      </td>
                      <td style="width:48%;text-align:right; font-size:20px;">{{slip.Amount  | currency:'₦':'symbol'}}</td>
                  </tr>
                  <!-- <tr>
                    <td style="width:4%;text-align:center">1</td>
                    <td style="font-weight:bolder;width:48%">Total Deductions</td>
                    <td style="width:48%;text-align:right">{{TotalDeductions  | currency:'₦':'symbol'}}</td>
                </tr> -->
              </tbody>
          </table>
                    <div class="row">
            <div class="col-lg-6 col-sm-6 ml-auto">
              <table class="table table-clear">
                <tbody>
                  <tr>
                    <td class="left" style="font-size:20px;">
                      <strong>Total Earnings</strong>
                    </td>
                  <td class="right  text-success" style="font-size:20px; text-align:right;">{{TotalEarnings  | currency:'₦':'symbol'}}</td>
                  </tr>
                  <tr>
                    <td class="left" style="font-size:20px;">
                      <strong>Total Deductions</strong>
                    </td>
                  <td class="right" style="font-size:20px; text-align:right; color: red;">{{TotalDeductions  | currency:'₦':'symbol'}}</td>
                  </tr>
                  <tr>
                    <td class="left" style="font-size:20px;">
                      <strong>Net Salary</strong>
                    </td>
                    <td class="right" style="font-size:20px; text-align:right;">
                    <strong>{{element.NetSalary  | currency:'₦':'symbol'}}</strong>
                    <!-- clculate(TotalEarnings, TotalDeductions )  -->
                    </td>
                  </tr>
                </tbody>
              </table>
  
            </div>
  
          </div>
            <!-- <table class='table table-bordered'>
               <thead>
                 <td>Earning </td>
                 <td>Amount(₦) </td>
                 <td>Deductions </td>
                 <td>Amount(₦) </td>
               </thead>
               <tbody>
                 <tr  *ngFor="let slip of Salaryslipcredit;let i = index">
                   <td class="center" style="font-size:20px;">{{slip.Name}}</td>
                   <td class="right" style="font-size:20px; padding-left: 0px; color: green;">{{slip.Amount  | currency:'₦':'symbol'}}</td>
                   <td></td>
                   <td></td>
                 </tr>
                 <tr  *ngFor="let slip of Salaryslipdebit;let i = index">
                   <td></td>
                   <td></td>
                   <td class="center" style="font-size:20px;">{{slip.Name}}</td>
                   <td class="right" style="font-size:20px; padding-left: 0px; color: red;">{{slip.Amount  | currency:'₦':'symbol'}}  </td>
                 </tr>
                 <tr class="tfooter">
                   <td style="font-size:20px;">Gross Earning</td>
                   <td class="right" style="font-size:20px; color: green;">{{TotalEarnings  | currency:'₦':'symbol'}}</td>
                   <td style="font-size:20px;">Total Deduction</td>
                   <td class="right" style="font-size:20px;  color: red;">{{TotalDeductions  | currency:'₦':'symbol'}}</td>
                </tr>
               </tbody>
               <tfoot class="borderless">
                 <tr>
                   <td class="border"></td>
                   <td class="border"></td>
                   <td style="font-size:20px;"class="back">Net Salary</td>
                   <td style="font-size:20px; color: green;" class="back">{{element.NetSalary  | currency:'₦':'symbol'}}</td>
                 </tr>
               <tfoot>
            </table> -->
           </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <div class="header" style="text-align: center;">
    <h3>Pay slip for the period of {{element.Month | date:'MMMM y'}}</h3>
  </div>
  <div class=body style="padding-left: 150px; padding-right: 100px; padding-top: 50px;">
    <div class="first-section" style="padding-bottom: 100px;">
      <div class="row">
                            
        <div class="col-md-6">
          <ul style="list-style-type:none;">
            <li>
              <div class="row"> 
              <h6 style="width: 300px; font-weight: bold;; font-weight: bold;">Name:</h6>
              <p style="padding-left: 50px;">{{element.FirstName}} {{element.LastName}}</p>
              </div>
            </li>
            <li> 
                <div class="row"> 
              <h6 style="width: 300px; font-weight: bold;">Employee ID:</h6>
              <p style="padding-left: 50px;">{{element.EmployeeID}}</p>
            </div>
            </li>
            <li> 
                <div class="row"> 
              <h6 style="width: 300px; font-weight: bold;">PAN Number:</h6>
              <p style="padding-left: 50px;">-</p>
            </div>
            </li>
            <li> 
                <div class="row"> 
              <h6 style="width: 300px; font-weight: bold;">Department:</h6>
              <p style="padding-left: 50px;">{{element.Department}}</p>
            </div>
            </li>
            <li> 
                <div class="row"> 
              <h6 style="width: 300px; font-weight: bold;">Designation:</h6>
              <p style="padding-left: 50px;">{{element.Designation}}</p>
            </div>
            </li>
          </ul>
        </div>
      
        <div class="col-md-6">
          <ul style="list-style-type:none;">
            <li> 
                <div class="row"> 
              <h6 style="width: 300px; font-weight: bold;">Pay Slip:</h6>
              <p style="padding-left: 50px;">{{element.SalarySlipID}}</p>
            </div>
            </li>
            <li> 
                <div class="row"> 
              <h6 style="width: 300px; font-weight: bold;">Joining Date:</h6>
              <p style="padding-left: 50px;">{{element.JoiningDate}}</p>
            </div>
            </li>
            <li> 
                <div class="row"> 
              <h6 style="width: 300px; font-weight: bold;">Attendance:</h6>
              <p style="padding-left: 50px;">{{element.Attendance}}</p>
            </div>
            </li>
            <li> 
                <div class="row"> 
              <h6 style="width: 300px; font-weight: bold;">Pay Date:</h6>
              <p style="padding-left: 50px;">{{element.PaymentDate}}</p>
            </div>
            </li>
            <li> 
                <div class="row"> 
              <h6 style="width: 300px; font-weight: bold;">Unpaid Leaves:</h6>
              <p style="padding-left: 50px;">{{element.Designation}}</p>
            </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="second-section">
      <div class="row">
                            
        <div class="col-md-6">
          <div style="padding-left:30%;"><h5>Earning</h5></div>
          <div class="row">
            <div class="col-md-6">
              <div style="padding-left: 40px;">
                <h6>Pay Type</h6>
              </div>
              <ul style="list-style-type:none;" *ngFor="let slip of Salaryslipcredit">
                <li>
                  {{slip.Name}}:
                </li>
                </ul>
                <div style="padding-left:40%;"><p>Total Earning</p></div>
            </div>
            <div class="col-md-6">
              <div style="padding-left: 40px;">
                <h6>Amount</h6>
              </div>
              <ul style="list-style-type:none;" *ngFor="let slip of Salaryslipcredit">
                <li>
                  <p style="padding-left: 0px; color: green;">{{slip.Amount  | currency:'₦':'symbol'}}</p>
                </li>
                </ul>
              <div style="padding-left:30%;" *ngIf="amount"><h5>{{TotalDeductions}}</h5></div>
            </div>
          </div>

        </div>
      
        <div class="col-md-6">
          <div style="padding-left:30%;"><h5>Deduction</h5></div>
          <div class="row">
            <div class="col-md-6">
              <div style="padding-left: 40px;">
                <h6>Pay Type</h6>
              </div>
              <ul style="list-style-type:none;" *ngFor="let slip of Salaryslipdebit">
                <li>
                  {{slip.Name}}:
                </li>
                </ul>
            </div>
            <div class="col-md-6">
              <div style="padding-left: 40px;">
                <h6>Amount</h6>
              </div>
              <ul style="list-style-type:none;" *ngFor="let slip of Salaryslipdebit">
                <li>
                  <p style="padding-left: 0px; color: red;">{{slip.Amount  | currency:'₦':'symbol'}}</p>
                </li>
                </ul>
            </div>
          </div>

        </div>
      </div>
  </div> 
  <div class="footer">
    <div>
    <p>Net Salary: {{element.NetSalary  | currency:'₦':'symbol'}};</p>
    <p>Net Salary(in words): {{element.NetSalary  | currency:'₦':'symbol'}}</p>
    </div>
  </div>
</div>       -->
</div> 


