/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=br-firma-sb+27px');
@font-face {
  font-family: ‘BR Firma CW’;
  src: url(assets/font/br-firma-sb.woff2) format(‘woff2’);

  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: ‘Sailec’;
  src: url(assets/font/sailec-reg.woff2) format(‘woff2’);

  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face{
  font-family:“Frank”;
  src:url(assets/font/Frank-Regular.eot) format(“embedded-opentype”),url(assets/font/Frank-Light.woff) format(“woff”),url(assets/font/Frank-Regular.ttf) format(“truetype”);
  font-style:normal;
  /* font-weight:500 */
}
/*@font-face{
  font-family:“Circulartt”;
  src:url(assets/font/Circular-Book.eot) format(“embedded-opentype”),url(assets/font/Circular-Book.woff) format(“woff”),url(assets/font/Circular-Book.ttf) format(“truetype”),url(assets/font/Circular-Book.svg) format(“svg”);
  font-style:normal;
  /* font-weight:500 */
/*}*/
@font-face {
  font-family: 'Circular';
  src: url('assets/font/Circular-Book.eot') format('embedded-opentype'),
       url('assets/font/Circular-Book.woff') format('woff'),
       url('assets/font/Circular-Book.ttf') format('truetype'),

  }

* {

  font-family: 'Sailec' , 'Frank' , 'Circular' , 'BR Firma CW';
  box-shadow: none!important;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table.table td, table.table th {
  padding: 7px!important;
}
button {


      border-radius: 5px !important;

    }

@import "../node_modules/angular-calendar/css/angular-calendar.css";
.navbar.scrolling-navbar {
    transition: background .20s ease-in-out,padding .20s ease-in-out;
    padding-top: 27px;
    padding-bottom: 30px !important;
}
.black-skin .side-nav .sidenav-bg:after, .black-skin .side-nav .sidenav-bg.mask-strong:after {
    background: rgba(255, 255, 255, 0.8);
    color: rgb(243, 159, 4);
}
.black-skin .navbar {
    background-color:rgba(255, 255, 255, 0.8);
    color: rgb(243, 159, 4);
}
.black-skin .side-nav .collapsible .card.active .card.hover .card-header a h5 {
    background-color:black;
}
.navbar-brand {
    font-size: 1.25rem;
    font-family: oxygen;
    color: black;
}
// .side-nav .search-form input[type=text] {
//     font-family: oxygen;
// }
// .side-nav .collapsible .card.active .card-header a h5 {
//     font-family: oxygen;
// }
// *{
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     font-size: .85rem;
//     font-weight: 700;
// }
.navbar.scrolling-navbar .navbar-brand{
    color: rgba(67, 69, 75, 0.596) !important;
    margin-left: 270px;
}
.black-skin .btn-primary.dropdown-toggle {
    background-color: orange!important;
}
.side-nav .search-form input[type=text]::placeholder {
    color: rgba(67, 69, 75, 0.596) !important;
}
mdb-accordion-item-head *.actives{
    background-color: orange!important;
    color: rgba(67, 69, 75, 0.596);
  }
  mdb-accordion-item-head *:hover{
    background-color: orange!important;
    color: rgba(67, 69, 75, 0.596);
  }
  mdb-accordion-item-head *:hover{
    background-color: orange!important;
    color: rgba(67, 69, 75, 0.596);
  }
mdb-accordion-item-head *:hover{

    background-color: orange!important;

  }
  mdb-accordion-item-head *{
      color: rgba(67, 69, 75, 0.596);
  }
  .black-skin .side-nav .collapsible .card.active .card-header.active {
    background-color: orange!important;
  }

  .main-menu{
  /* position: absolute; */
  top: 0px !important;
  bottom: 0;
  height: 70%;
  left: 0;
 margin-left: 10px!important;
  width: 350px;
  overflow: visible;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}
.padding{
    padding: 40px;
  }

  .fc-event, .fc-event-dot {
    background-color:  black!important;
    color:white!important;
    padding: 1px!important;
}
