<div class="row ">
        <div class="col-2">
           <!--- <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column mt-4">
                <a class="navbar-brand" href="#">Navbar</a>
                <nav mdbScrollSpy="scrollspy2" class="nav nav-pills flex-column">
                    <a mdbScrollSpyLink="item-1"  *ngFor="let item of list" class="nav-link my-1">{{item.name}}</a>
                
                </nav>
            </nav> -->
             <nav class="main-menu border-right ">
                <ul>
                    <li *ngFor="let item of list">
                        <a [routerLink]="item.route" routerLinkActive="active">
                            <i [class]="item.icon"></i>
                        <span class="nav-text border-right ml-5" data-toggle="tooltip" data-placement="right" >
                                {{item.name}}
                            </span>
                        </a>
                      
                    </li>
                   
                </ul>
    </nav> 
   
        </div>
        <div class="col-8">
                <router-outlet></router-outlet>
        </div>
      </div>