.scrollspy-example {
    height: auto;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {

}

.main-menu {

position:absolute;
top:60px;
bottom:0;
height:70%;
left:0;
width:60px;
width:250px;
overflow:visible;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
//margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:grey;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}


.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#747474;
}


 .active {
    color:white!important;
    background-color:#747474;
    }
.rows{
    box-shadow: 0px 0px 10px 0px ;
}

.main-menu{

    

}

a {
    text-decoration: none; }
    a:hover {
      text-decoration: none; }
  
  /* ------------ Sidenav CSS ------------- */
  #sidenav {
    position: fixed;
    width: 300px;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: #101010; }
    #sidenav.open {
      left: -300px; }
    #sidenav .logo {
      width: 100%;
      padding: 20px 50px;
      background: #101010;
      display: block; }
      #sidenav .logo a {
        color: #dadada;
        font-size: 30px; }
        #sidenav .logo a.nav-icon {
          display: none; }
    #sidenav .menu {
      position: static; }
      #sidenav .menu ul {
        list-style: none;
        background: #101010;
        padding: 10% 0;
        margin: 0; }
        #sidenav .menu ul li {
          padding: 6px 14%; }
          #sidenav .menu ul li.active {
            border-left: solid 4px red; }
          #sidenav .menu ul li a {
            font-size: 22px;
            color: rgba(255, 255, 255, 0.7);
            font-weight: 300;
            display: block; }
            #sidenav .menu ul li a:hover {
              color: rgba(255, 255, 255, 0.5); }
            #sidenav .menu ul li a.logout:hover {
              color: red; }
          #sidenav .menu ul li ul {
            list-style: none;
            margin: 10px auto 0;
            padding: 10px 15px;
            border-top: solid 1px rgba(255, 255, 255, 0.08);
            border-bottom: solid 1px rgba(255, 255, 255, 0.08); }
            #sidenav .menu ul li ul li {
              padding: 6px 3px; }
              #sidenav .menu ul li ul li a {
                font-size: 18px;
                color: rgba(255, 255, 255, 0.7); }
  
  @media (max-width: 768px) {
    #sidenav {
      width: 100%;
      height: 60px;
      background: none; }
      #sidenav .logo {
        padding: 10px 20px; }
        #sidenav .logo a {
          font-size: 20px; }
          #sidenav .logo a.nav-icon {
            display: inline; }
      #sidenav .menu {
        display: none; }
        #sidenav .menu.open {
          position: fixed;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: -1;
          display: block !important; }
        #sidenav .menu ul {
          border-top: solid 1px #333; }
          #sidenav .menu ul li {
            padding: 6px 5%; } }
  
  /*# sourceMappingURL=app.main.css.map */



























  // Static Variables

$admin-header-height: 80px;
$admin-footer-height: 40px;
$admin-nav-width: 300px;

// Variables

:root {
    --bg-color: #e5e5e5;
    
    --bcn-orange: #f16a2d;
    --bcn-orange-light: #f9ae56;
    --bcn-orange-dark: #d96129;
    
    --black: #333;
    --white: #f5f5f5;
    
    --text-color: #555;
    
    --border-color: rgb(238,238,238);
    --border-style: 1px solid var(--border-color);
}

// Global CSS

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100%;
    overflow-x: hidden;
}

// Main Layout Grid

.admin {
    --spacing: 1rem;

    // Flexbox Fallback
 
    flex-wrap: wrap;

    height: 100vh;

    grid-template-rows: $admin-header-height 1fr $admin-footer-height;
    grid-template-columns: $admin-nav-width 1fr;
    grid-template-areas:
        "header header"
        "nav    main"
        "footer footer";

    &__header {
        display: flex;
        flex-basis: 100%;
        grid-area: header;
        height: $admin-header-height;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        position: relative;
    }

    &__nav {
        flex: 0 0 $admin-nav-width;
        grid-area: nav;
        background-color: #313541;
    }

    &__main {
        flex: 1;
        grid-area: main;
        padding: var(--spacing);
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        background-color: var(--bg-color);
    }

    &__footer {
        display: flex;
        grid-area: footer;
        flex-basis: 100%;
        justify-content: space-between;
        align-items: center;
        height: $admin-footer-height;
        padding: 0 var(--spacing);
        color: #4e5561;
        background-color: #1d2127;
    }

    @media screen and (min-width: 48rem) {
        --spacing: 2rem;
    }
}

// Dashboard Overview Grid

.dashboard {
    --column-count: 2;

    // Flexbox Fallback
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--spacing) * -0.5);

    // Grid
    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    grid-gap: var(--spacing);

    &__item {
        // By default, items span 2 columns
        flex: 1 1 50%;
        grid-column-end: span 2;
        padding: calc(var(--spacing) / 2);

        // these span the full width
        &--full {
            flex-basis: 100%;
            grid-column: 1 / -1;
        }

        // these span only one column
        &--col {
            flex-basis: calc(100% / var(--column-count));
            grid-column-end: span 1;
        }
    }

    // Switch to 4-col grid on larger screens
    @media screen and (min-width: 48rem) {
        --column-count: 4;
    }

    // If we have grid support, reset the margins and paddings;
    // grid-gap handles the spacing for us.
    @supports (display: grid) {
        margin: 0;

        &__item {
            padding: 0;
        }
    }
}

// ===============================
// Demo stuff to make it look nice
// ===============================

a {
    color: #dc5a60;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    display: flex;
    flex: 0 0 $admin-nav-width;
    height: $admin-header-height;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    color: #fff;
    background-color: var(--bcn-orange);
    font-size: 1rem;

    h1 {
        margin: 0;
    }
}

.toolbar {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing);
}

.menu {
    list-style-type: none;
    padding: 0;

    &__title {
        display: block;
        padding: 2rem 2rem .5rem;
        color: #76808f;
        font-weight: 700;
    }
    
    &__divider::before {
        content: "";
        display: block;
        width: calc(100% - 60px);
        height: 2px;
        margin: 30px 30px 40px;
        background-color: #76808f;
    }

    &__item {
    }

    &__link {
        display: block;
        padding: 10px 30px;
        color: #76808f;
        text-decoration: none;

        &.is-active {
            color: #fff;
            background-color: var(--bcn-orange-dark);
            border-left: 3px solid var(--bcn-orange);
        }
        
        &:hover,
        &:focus {
            color: currentcolor;
            background-color: var(--bcn-orange-light);
        }
    }
}

.card {
    height: 100%;
    font-weight: 300;
    background-color: #fff;
    border: 1px solid #e6eaee;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    
    &__header {
        padding: 20px 30px;
        border-bottom: 1px solid #e6eaee;
        font-weight: 700;
    }
    
    &__item {
        padding: 20px 30px;
    }
}

.btn {
    display: inline-block;
    border-radius: 5em;
    border: 0;
    padding: 0.5rem 1rem;
    white-space: nowrap;

    &--primary {
        color: #fff;
        background-color: #56bf89;
    }
}