name: Payroll Development server

on:
  push:
    branches:
    - develop

jobs:
  build:
    # using Ubuntu
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1 #this installs node and npm for us
        with:
          node-version: "10.x"

      - uses: actions/cache@v1 # this allows for re-using node_modules caching, making builds a bit faster.
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - run: npm install
      - run: npm install -g @angular/cli > /dev/null
      - run: ng build

      - name: copy file via ssh key
        uses: appleboy/scp-action@master
        with:
          host: 66.70.202.147
          username: root
          port: 2810
          password: Safety_101!
          source: "./dist/payroll"
          target: "/var/www/html/"
          strip_components: 3 # this is important
#ssh -p 2810 root@66.70.202.147
