<div *ngIf="success" class="alert alert-success" role="alert">
  {{success}}
</div>
<div *ngIf="error" class="alert alert-danger" role="alert">
 {{error}}
</div>
  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header light-blue darken-3 text-center text-white">
         
         <h4 class="modal-title w-100 font-weight-bold">Request  Leave</h4>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body mx-3">
        <div *ngIf="success" class="alert alert-success" role="alert">
          {{success}}
        </div>
        <div *ngIf="error" class="alert alert-danger" role="alert">
         {{error}}
        </div>
    
        <div class="row" [formGroup]="Leave" >
            <div class="form-group col-md-12">
                <label for="inputEmail4">Leave Type</label><mdb-icon class="space" fas icon="question-circle">  </mdb-icon>
          
                <select  formControlName="LeaveType" class="browser-default custom-select">
                 
                  <option *ngFor="let item of lType" [ngValue]="item.LeaveTypeID">{{item.LeaveTypeName}}</option>
                
                </select>
              </div>
           
              <div class="form-group col-md-6">
                <mdb-date-picker name="mydate" formControlName="StartDate"  [placeholder]="'Start Date'"
                required></mdb-date-picker>
                
              </div>
              <div class="form-group col-md-6">
                <mdb-date-picker name="mydate" formControlName="EndDate" [options]="myDatePickerOptions" [placeholder]="'End Date'"
                required></mdb-date-picker>
            
              </div>

              <div class="form-group col-md-12">
                <label for="inputEmail4">Reason</label>
              <textarea  [formControl]="Reason" type="text" id="form107" class="md-textarea form-control" rows="5" mdbInput></textarea>
              <mdb-error *ngIf="Reason.invalid && (Reason.dirty||Reason.touched)">
                Invalid Value.
              </mdb-error>

            </div>
        </div>
        
    
    
    
    
    
    
    
    
        
    
    
    
       </div>
       <div class="modal-footer d-flex justify-content-right">
            <div class="btn-group" role="group" aria-label="Basic example">
                    

    <button mdbBtn type="submit"  color="info" [disabled]="Leave.invalid" (click)="createLeave()" class="waves-light mr-2" mdbWavesEffect>Create</button>
                  
    
    <button mdbBtn type="button" color="danger"  (click)="frame.hide()" class="waves-light" mdbWavesEffect>Cancel</button>
                </div>
       </div>
     </div>
    </div>
    </div>



    <div class="padding">
      <div class="header"> 
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                  <button mdbBtn type="button" color="success" mdbWavesEffect>
                    <mdb-icon fas icon="envelope" class="mr-1"></mdb-icon>Invite
                  </button>
                  <button mdbBtn (click)="frame.show()" type="button" color="default" mdbWavesEffect>
                    <mdb-icon fas icon="plus" class="mr-1"></mdb-icon>Request Leave
                  </button>
                </div>
            </div>
            <div class="col-sm-8">
              <div class="row float-right">
                <div class="col-sm-5">
                    <div class="md-form">
                    <input mdbInput class="mr-1" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" class="form-control" id="search" mdbInput> 
                  </div>
                </div>
                <div class="col-sm-5">
                    <div class="dropdown" mdbDropdown>
    
                        <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button"
                          mdbWavesEffect>
                          Status
                        </button>
                      
                        <div class="dropdown-menu dropdown-primary">
                          <button class="dropdown-item" href="#">All</button>
                          <button class="dropdown-item" href="#">Active</button>
                          <button class="dropdown-item" href="#">Inactive</button>
                        </div>
                        
                  </div>
                </div>
                <div class="col-sm-2">
                    <div class="btn-group" mdbDropdown>
                        <a mdbDropdownToggle mdbBtn  floating="true" size="sm" gradient="blue"  class="dropdown-toggle waves-light" mdbWavesEffect>
                            <mdb-icon fas icon="ellipsis-v"></mdb-icon>
                        </a>
                      
                        <div class="dropdown-menu dropdown-primary">
                          <a class="dropdown-item" (click)="view()" *ngIf="!show">Show details</a>
                          <a class="dropdown-item" (click)="view()" *ngIf="show">Hide details</a>
                         
                          <a class="dropdown-item" href="#">Refresh</a>
                        </div>
                      </div>
                </div>
              </div>    
          </div>
        </div>
      </div>
      <div class="body">
          <div class="row">
            <div class="col">
                <table id="tableSortExample" mdbTable class="z-depth-1">
                    <thead>
                      <tr>
                          <th aria-controls="tableSortExample" scope="col" [mdbTableSort]="elements" [sortBy]="headElements[0]">{{headElements[0] | titlecase}}<mdb-icon fas icon="sort"></mdb-icon></th>
                          <th>{{headElements[1]}}</th>
                          <th>{{headElements[2]}}</th>
                          <th>{{headElements[3]}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let el of elements; let i = index">
                        <th scope="row" (click)="reademployee(el)">{{el.LeaveID}}</th>
                        <td (click)="reademployee(el)">{{el.Email}}</td>
                        <td>{{el.Status}}</td>
                        <td>{{el.DateCreated}}</td>
                       
                      </tr>
                    </tbody>
                </table>
                <div *ngIf="message" style="padding-left: 40%;"><p>{{messages}}</p></div>
                <div *ngIf="loading"  class="item"><ngx-skeleton-loader count="7" appearance="line "> </ngx-skeleton-loader></div>
            </div>
            <div class="col-4 line" *ngIf="show">
              <p *ngIf="!displaySide" >Select a row to view it's details here</p>
            
                 <div *ngIf="displaySide" class="body">
                    <div class="row">
                      <ul class="list-group">
                        <li class="list-group-item">Leave ID<h4>{{leave.LeaveID}}</h4></li>
                        <li class="list-group-item">Employee ID<h4>{{leave.EmployeeID}}</h4></li>
                        <li class="list-group-item">Email<h4> {{leave.Email}}</h4></li>
                        <li class="list-group-item">StartDate<h4> {{leave.StartDate}}</h4></li>
                        <li class="list-group-item">Status<h4 >{{leave.Status}}</h4></li>
                      </ul>
                    </div>
                    <button type="button" (click)="updateSalary()" mdbBtn color="primary" mdbWavesEffect>Approve</button>
                    <button type="button" mdbBtn color="danger" mdbWavesEffect>Reject</button>
                 </div>     
            </div>
          </div> 
      </div>
    </div>