<div class="row"> 
    <div class="col-3  line">
        <mdb-card>
            <div class="alert alert-success" role="alert">
                <mdb-icon far icon="grin"></mdb-icon> Photo
              </div>
            <mdb-card-body>
                <div class="col-1">
                <input type="image" src="../../../assets/profile_image.jpg" width=200px height=200px >
                <button mdbBtn type="button" size="lg" color="success" mdbWavesEffect>
                    <mdb-icon fas icon="pencil-alt"></mdb-icon>Edit
                  </button>
                  </div>
            </mdb-card-body>
        </mdb-card>
          <mdb-card>
            <mdb-card-body>
                <div>
                    <h6>Contact Information</h6>
                    <p><mdb-icon class="space"  fas icon="envelope"></mdb-icon>hardecx@gmail.com</p>
                  </div>
            </mdb-card-body>
          </mdb-card>
    </div>
    <div class="col">
      <!-- Nav tabs -->
<mdb-tabset #staticTabs [buttonClass]="'nav md-pills pills-secondary mb-2'" [justified]="true" [contentClass]="'card'">
    <!--Panel 1-->
    <mdb-tab heading="ABOUT">
      <mdb-accordion [multiple]="false">
          <mdb-accordion-item [collapsed]="false">
            <mdb-accordion-item-head><h6><mdb-icon class="space" fas icon="user"></mdb-icon>Basic Information</h6></mdb-accordion-item-head>
            <mdb-accordion-item-body>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Full Name
                      <p>Adejana Adeogio</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Employee ID
                      <p>EMP001</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Email Address
                      <p>Adejana@gmail.com</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Full Name
                        <p>Adejana Adeogio</p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Employee ID
                        <p>EMP001</p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Email Address
                        <p>Adejana@gmail.com</p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Full Name
                          <p>Adejana Adeogio</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Employee ID
                          <p>EMP001</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Email Address
                          <p>Adejana@gmail.com</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                           Gender
                            <p>Adejana Adeogio</p>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Birthday
                            <p>EMP001</p>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                           Martial Status
                            <p>Adejana@gmail.com</p>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                             Status
                               <p>Adejana@gmail.com</p>
                             </li>
                             <li class="list-group-item d-flex justify-content-between align-items-center">
                                Probation
                                  <p>Adejana@gmail.com</p>
                                </li>
                  </ul>
            </mdb-accordion-item-body>
          </mdb-accordion-item>
        
          <mdb-accordion-item>
            <mdb-accordion-item-head><h6><mdb-icon class="space"  fas icon="university"></mdb-icon>Company Relations</h6></mdb-accordion-item-head>
            <mdb-accordion-item-body>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Department
                      <p>Adejana Adeogio</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Designation
                      <p>EMP001</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                       Loaction
                      <p>Adejana@gmail.com</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Manager
                        <p>Adejana Adeogio</p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Reports To
                        <p>EMP001</p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                         Joining date
                        <p>Adejana@gmail.com</p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Work Duration
                         <p>Adejana@gmail.com</p>
                       </li>
                  </ul>
            </mdb-accordion-item-body>
          </mdb-accordion-item>
        
          <mdb-accordion-item>
            <mdb-accordion-item-head><h6><mdb-icon class="space"  fas icon="phone-square"></mdb-icon>Contact Information</h6></mdb-accordion-item-head>
            <mdb-accordion-item-body>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Mobile Phone
                      <p>Adejana Adeogio</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Emergency Contact Number
                      <p>EMP001</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                       Emergency Contact Person
                      <p>Adejana@gmail.com</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Address
                        <p>Adejana Adeogio</p>
                      </li>
                  </ul>
            </mdb-accordion-item-body>
          </mdb-accordion-item>
        </mdb-accordion>
    </mdb-tab>
    <!--Panel 2-->
    <mdb-tab heading="APPRECIATIONA">
      <div class="row">
        <div class="col-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
            porro voluptate odit minima.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
            porro voluptate odit minima.</p>
        </div>
      </div>
    </mdb-tab>
    <!--Panel 3-->
    <mdb-tab heading="INCREMENT & PROMOTION">
      <div class="row">
        <div class="col-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
            porro voluptate odit minima.</p>
        </div>
      </div>
    </mdb-tab>
  </mdb-tabset>
    </div>
</div>